# Multi Linear Regression Code using Sklearn

In [2]:
#importing the necessary Libraries
import pandas as pd

In [3]:
#reading the files using pandas
a=pd.read_csv("cracow_apartments.csv")
a.head()

   distance_to_city_center  rooms   size    price
0                      2.4    1.0  19.35  191.565
1                      2.4    2.0  13.08  221.568
2                      5.0    1.0  24.66  185.936
3                      1.9    1.0  24.82  275.502
4                      1.9    1.0  25.39  241.205

In [8]:
#we are choosing the x and y values

x= a.iloc[:,0:3]
y = a.iloc[:,3:]

In [11]:
#independent data
x.head()

   distance_to_city_center  rooms   size
0                      2.4    1.0  19.35
1                      2.4    2.0  13.08
2                      5.0    1.0  24.66
3                      1.9    1.0  24.82
4                      1.9    1.0  25.39

In [12]:
#dependent data
y.head()

     price
0  191.565
1  221.568
2  185.936
3  275.502
4  241.205

In [13]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [14]:
#importing the  model

from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [16]:
#fitting the model

lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:

#Predict
y_pred=lr.predict(x_test)

In [19]:

print("predicted price ")
print(lr.predict([[2.7,2,15.5]]))

predicted price
[[167.13612695]]

In [21]:
# Accuracy test

print('Accuracy Score :',lr.score(x,y))

Accuracy Score : 0.9463692258980531

In [22]:
# saving the model using joblib

import joblib
joblib.dump(lr,'model_joblib')

['model_joblib']